@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

@layer base {
	.word{
		@apply text-gray-300 text-sm
	}
	.number{
		@apply text-sky-500 text-sm
	}
	.titles{
		@apply flex space-x-2 items-center justify-center cursor-pointer
	}
	button {
		@apply px-4 py-2 border-2 border-sky-500 text-sky-500 rounded-lg flex justify-center items-center text-sm hover:bg-sky-500 hover:text-black
	}
	.my-input{
		@apply w-full placeholder:text-white placeholder:text-sm outline-none text-sm bg-transparent text-white
	}
}

.title-navbar:hover > h1.word{
	color: #0ea5e9;
}


.triangle-big{
	width: 0px;
	height: 0px;
	position: relative;
	border-bottom: 20px solid #0ea5e9;
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;
}

.triangle-big:before{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left:38px solid transparent;
	border-right: 38px solid transparent;
	border-bottom: 19px solid black;
	top: 3px;
	left: -38px
}

.triangle2-big{
	width: 0px;
	height: 0px;
	position: relative;
	border-top: 20px solid #0ea5e9;
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;
}
.triangle2-big:before{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 38px solid transparent;
	border-right: 38px solid transparent;
	border-top: 19px solid black;
	top: -22px;
	left: -38px
}

.triangle{
	width: 0px;
	height: 0px;
	position: relative;
	border-bottom: 10px solid #0ea5e9;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}

.triangle:before{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 8px solid black;
	top: 2px;
	left: -16px
}

.triangle2{
	width: 0px;
	height: 0px;
	position: relative;
	border-top: 10px solid #0ea5e9;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}
.triangle2:before{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 8px solid black;
	top: -10px;
	left: -16px
}

.border-logo{
	border-left: 2px solid #0ea5e9;
	border-right: 2px solid #0ea5e9
}

.border-logo-big{
	border-left: 3px solid #0ea5e9;
	border-right: 3px solid #0ea5e9
}

.text-rotate{
	transform: rotate(90deg);
	letter-spacing: 2px;
	
}

.logo-drop{
	animation: nav-load 400ms ease-in;
}

.first-title{
	animation: nav-load 600ms ease-in;
}
.first-title1{
	animation: nav-load 800ms ease-in;
}
.first-title2{
	animation: nav-load 1s ease-in;
}
.first-title3{
	animation: nav-load 1.2s ease-in;
}
.first-title4{
	animation: nav-load 1.4s ease-in;
}

.anime{
	opacity: 0;
	animation: nav-load2 400ms ease-in forwards;
	animation-delay: 1.7s;
}

.anime1{
	opacity: 0;
	animation: nav-load2 400ms ease-in forwards;
	animation-delay: 2s;
}
.anime2{
	opacity: 0;
	animation: nav-load2 400ms ease-in forwards;
	animation-delay: 2.3s;
}

.anime3{
	opacity: 0;
	animation: nav-load2 400ms ease-in forwards;
	animation-delay: 2.6s;
}

.anime4{
	opacity: 0;
	animation: nav-load2 400ms ease-in forwards;
	animation-delay: 2.9s;
}

@keyframes nav-load2 {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	20%{
		transform: translateY(80%);
		opacity: 0.2;
	}
	40%{
		transform: translateY(60%);
		opacity: 0.4;
	}
	60%{
		transform: translateY(40%);
		opacity: 0.6;
	}
	80%{
		transform: translateY(20%);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}



@keyframes nav-load {
	0% {
		transform: translateY(-200px);
		opacity: 0;
	}
	20%{
		transform: translateY(-160px);
		opacity: 0.2;
	}
	40%{
		transform: translateY(-120px);
		opacity: 0.4;
	}
	60%{
		transform: translateY(-80px);
		opacity: 0.6;
	}
	80%{
		transform: translateY(-40px);
		opacity: 0.8;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

.show-footer{
	opacity: 0;
	animation: footer-load 800ms  ease-in forwards;
	animation-delay: 3.2s;
}

@keyframes footer-load {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.my-div{
	transition: transform 300ms;
}

.image-hover:hover > div.my-div {
	transform: translate(-10px, -10px);
}

.image-hover:hover > div.my-div2 {
	opacity: 0;
}

.reveal{
	opacity: 0;
	animation: slide-it 800ms ease-in forwards;
}

@keyframes slide-it {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.slide{
	animation: slide-right 400ms ease-in forwards;
}

@keyframes slide-right {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.slide-right{
	transform: translateX(100%);
}

.slide-right-anime{
	animation: slide-left 400ms ease-in forwards;
}

@keyframes slide-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

.image-back {
	background-image: url("./images/matcha.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed ;
}

.image-back2 {
	background-image: url("./images/hypertube.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed ;
}

.image-none{
	background-image: none;
}

.animate-message{
	animation: slide-down 800ms ease-in forwards;
}

@keyframes slide-down {
	0% {
		transform: translateY(-137%);
	}
	100% {
		transform: translateY(0);
	}
}

.animate-message2{
	animation: slide-up 800ms ease-in forwards;
}

@keyframes slide-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-137%);
	}
}

.my-blur{
	background: transparent;
	backdrop-filter: blur(5px);

}

/* customizing sweetalert */

/*/////////////////////////////////////*/


.swal-footer{
	display: flex;
	justify-content: center;
}

.swal-button {
	background-color: #0ea5e9;
	color: black;
}


.swal-modal{
	background-color: black;
	border-width: 2px;
	border-color: #0ea5e9;
}
.swal-icon--success:after, .swal-icon--success:before {
	background-color: black;
}

.swal-icon--success__hide-corners {
	background-color: black;
}

.swal-icon--success__ring {
	border: 4px solid #0ea5e9;
}

.swal-icon--success__line {
	background-color: #0ea5e9;
}

.swal-title{
	color: #6b7280;
}

.swal-text{
	color: #d1d5db;
}

/*/////////////////////////////////////*/

/* customizing sweetalert */

::-webkit-scrollbar-button {
	width: 12px;
  }

::-webkit-scrollbar {
	width: 4px;
}


::-webkit-scrollbar-thumb {
	background: #d1d5db;
	border-radius:10px;
  } 

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
} 

.terms {
	padding-top: 5%;
	display: "flex";
	flex-direction: "row";
	gap: 10;
	width: "100%";
	padding-left: 20%;
	padding-right: 20%;
}

.textBig {
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.textBig2 {
	margin-bottom: 20px;
	font-size: 60px;
	font-weight: bold;
	color: white;
	text-align: center;
}


.line {
	width: 100%;
	background-color: white;
	height: 2px;
	margin-top: 20px;
}

.underTitle {
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.pargraph {
	font-size: 15px;
	color: white;
	margin-bottom: 20px;
}